body {
  background-color: rgb(248, 246, 239);
  color: black;
}

h1 {
  color: rgb(194, 106, 51);
}

h3 {
  font-size: 1em;
}

select {
  font-size: 1em;
  border: 1px solid black;
  border-radius: 5px;
  background-color: rgb(243, 218, 180);
  width: 600px;
}

#result {
  font-size: 1.2em;
  border: 2px solid  rgb(194, 106, 51);
  border-radius: 5px;
  background-color: rgb(243, 218, 180);
  width: 1200px;
  font-weight: bold;

}
